<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^login$ login.php?module=login [L]

RewriteRule ^33$ index.php?mod=dataKejadian33 [L]
RewriteRule ^33GangguanPerjalanan$ index.php?mod=dataKejadian33GangguanPerjalanan [L]
RewriteRule ^33KecelakaanMateri$ index.php?mod=dataKejadian33KecelakaanMateri [L]
RewriteRule ^33KecelakaanKorban$ index.php?mod=dataKejadian33KecelakaanKorban [L]
RewriteRule ^33KorbanMeninggalDunia$ index.php?mod=dataKejadian33KorbanMeninggalDunia [L]

RewriteRule ^MogokMesin$ index.php?mod=dataKejadianMogokMesin [L]
RewriteRule ^BBM$ index.php?mod=dataKejadianBBM [L]
RewriteRule ^RODA$ index.php?mod=dataKejadianRODA [L]
RewriteRule ^BAN$ index.php?mod=dataKejadianBAN [L]
RewriteRule ^MUATANTIDAKTERTIB$ index.php?mod=dataKejadianMUATANTIDAKTERTIB [L]
RewriteRule ^KEBAKARANMOBIL$ index.php?mod=dataKejadianKEBAKARANMOBIL [L]
RewriteRule ^TARIKMENARIK$ index.php?mod=dataKejadianTARIKMENARIK [L]
RewriteRule ^KejadianLAIN2$ index.php?mod=dataKejadianLAIN2 [L]

RewriteRule ^44$ index.php?mod=gangguanKamtib44 [L]
RewriteRule ^JalanBerlubang$ index.php?mod=gangguanKamtibJalanBerlubang [L]
RewriteRule ^SuporterBola$ index.php?mod=gangguanKamtibSuporterBola [L]
RewriteRule ^Odol$ index.php?mod=gangguanKamtibOverDimensi [L]
RewriteRule ^OrangMabuk$ index.php?mod=gangguanKamtibOrangMabuk [L]
RewriteRule ^PejalanKaki$ index.php?mod=gangguanKamtibPejalanKaki [L]
RewriteRule ^RodaDua$ index.php?mod=gangguanKamtibRodaDua [L]
RewriteRule ^Bus$ index.php?mod=gangguanKamtibBus [L]
RewriteRule ^Penyebrang$ index.php?mod=gangguanKamtibPenyebrang [L]
RewriteRule ^Demo$ index.php?mod=gangguanKamtibDemo [L]
RewriteRule ^Ilalang$ index.php?mod=gangguanKamtibKebakaranIlalang [L]
RewriteRule ^Ternak$ index.php?mod=gangguanKamtibTernak [L]
RewriteRule ^Pelemparan$ index.php?mod=gangguanKamtibPelemparan [L]
RewriteRule ^KamtibLain2$ index.php?mod=gangguanKamtibLain2 [L]

RewriteRule ^RespondtimesLJT212$ index.php?mod=dataRespondtimesLJT212 [L]
RewriteRule ^RespondtimesLJT213$ index.php?mod=dataRespondtimesLJT213 [L]
RewriteRule ^RespondtimesLJT215$ index.php?mod=dataRespondtimesLJT215 [L]
RewriteRule ^RespondtimesLJT216$ index.php?mod=dataRespondtimesLJT216 [L]
RewriteRule ^RespondtimesLJT217$ index.php?mod=dataRespondtimesLJT217 [L]
RewriteRule ^RespondtimesLJT218$ index.php?mod=dataRespondtimesLJT218 [L]
RewriteRule ^RespondtimesLJT219$ index.php?mod=dataRespondtimesLJT219 [L]
RewriteRule ^RespondtimesDEREK$ index.php?mod=dataRespondtimesDEREK [L]
RewriteRule ^RespondtimesDEREK-G.01$ index.php?mod=dataRespondtimesDEREK-G.01 [L]
RewriteRule ^RespondtimesDEREK-G.02$ index.php?mod=dataRespondtimesDEREK-G.02 [L]
RewriteRule ^RespondtimesDEREK-G.03$ index.php?mod=dataRespondtimesDEREK-G.03 [L]
RewriteRule ^RespondtimesDEREK-G.05$ index.php?mod=dataRespondtimesDEREK-G.05 [L]
RewriteRule ^RespondtimesKAMTIB$ index.php?mod=dataRespondtimesKAMTIB [L]
RewriteRule ^RespondtimesKUDA1$ index.php?mod=dataRespondtimesKUDA1 [L]
RewriteRule ^RespondtimesKUDA2$ index.php?mod=dataRespondtimesKUDA2 [L]
RewriteRule ^RespondtimesKUDA3$ index.php?mod=dataRespondtimesKUDA3 [L]
RewriteRule ^RespondtimesRESCUE$ index.php?mod=dataRespondtimesRESCUE [L]
RewriteRule ^RespondtimesAMBULANCE$ index.php?mod=dataRespondtimesAMBULANCE [L]
RewriteRule ^Respondtimes223$ index.php?mod=dataRespondtimes223 [L]
RewriteRule ^RespondtimesPJR$ index.php?mod=dataRespondtimesPJR [L]
RewriteRule ^RespondtimesPJR2130$ index.php?mod=dataRespondtimesPJR2130 [L]
RewriteRule ^RespondtimesPJR2131$ index.php?mod=dataRespondtimesPJR2131 [L]
RewriteRule ^RespondtimesPJR2132$ index.php?mod=dataRespondtimesPJR2132 [L]
RewriteRule ^RespondtimesPJR2133$ index.php?mod=dataRespondtimesPJR2133 [L]


RewriteRule ^TelponPenggunaJalan$ index.php?mod=TelponPenggunaJalan [L]
RewriteRule ^TelponRadioIdola$ index.php?mod=TelponRadioIdola [L]
RewriteRule ^TelponRadioRRI$ index.php?mod=TelponRadioRRI [L]
RewriteRule ^TelponRadioRasika$ index.php?mod=TelponRadioRasika [L]
RewriteRule ^TelponRadioElsinta$ index.php?mod=TelponRadioElsinta [L]

RewriteRule ^TelponMemberiInformasi$ index.php?mod=TelponMemberiInformasi [L]
RewriteRule ^TelponMemintaBantuan$ index.php?mod=TelponMemintaBantuan [L]
RewriteRule ^TelponMemintaInformasi$ index.php?mod=TelponMemintaInformasi [L]
RewriteRule ^TelponPengaduan$ index.php?mod=TelponPengaduan [L]
RewriteRule ^TelponMemberiSumbangSaran$ index.php?mod=TelponMemberiSumbangSaran [L]
RewriteRule ^TelponLainlain$ index.php?mod=TelponLainlain [L]

Options All -Indexes
</IfModule>